body {
    margin: 0;
    overflow: hidden;
    background-color: #000011;
    font-family: sans-serif;
    color: white;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#controls {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
}

#gSlider, #gValue, label {
    vertical-align: middle;
    color: white;
  }
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
